@media screen and (max-width:1850px) {
  html {
    overflow-x: hidden;
  }
}

@media screen and (max-width:1850px) {
  .banner-section img {
    max-width: 100%;
    width: 100% !important;
  }
}

@media screen and (max-width:1850px) {
  h1 {
    font-size: 42px;
    line-height: 52px;
  }
}

@media screen and (max-width:1850px) {
  h1 b {
    font-size: 58px;
    line-height: 72px;
  }
}

@media screen and (max-width:1850px) {
  h2 {
    font-size: 150px;
    line-height: 160px;
  }
}

@media screen and (max-width:1850px) {
  h3 {
    font-size: 50px;
    line-height: 62px;
  }
}

@media screen and (max-width:1850px) {
  .pt-125 {
    padding-top: 100px;
  }
}

@media screen and (max-width:1850px) {
  .pb-125 {
    padding-bottom: 100px;
  }
}

@media screen and (max-width:1850px) {
  .mb-125 {
    margin-bottom: 100px;
  }
}

@media screen and (max-width:1850px) {
  .mt-110 {
    margin-top: 90px;
  }
}

@media screen and (max-width:1850px) {
  .mt-70 {
    margin-top: 50px;
  }
}

@media screen and (max-width:1850px) {
  .banner-section p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width:1850px) {
  .custom-btn {
    width: 172px;
    height: 64px;
  }
}

@media screen and (max-width:1850px) {
  .big-btn {
    width: 210px !important;
  }
}

@media screen and (max-width:1850px) {
  body, footer p, footer li, footer li a, footer path {
    font-size: 16px;
    line-height: 26px;
    overflow-x: hidden;
  }
}

@media screen and (max-width:1850px) {
  .mb-4 {
    margin-bottom: 1rem !important;
  }
}

@media screen and (max-width:1850px) {
  .mt-4 {
    margin-top: 1rem !important;
  }
}

@media screen and (max-width:1850px) {
  .excellence-box p br {
    display: none;
  }
}

@media screen and (max-width:1850px) {
  .excellence-box .card-body {
    padding: 25px 55px 40px;
  }
}

@media screen and (max-width:1850px) {
  .slider-box .card img, .slider-box .card .card-body p {
    margin-bottom: 35px;
  }
}

@media screen and (max-width:1850px) {
  .slider-box .card .card-body h4 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1850px) {
  .slider-box .card {
    padding: 46px 15px;
  }
}

@media screen and (max-width:1850px) {
  .service-section .slick-slide {
    min-height: 670px;
  }
}

@media screen and (max-width:1850px) {
  .branding-section .big {
    font-size: 60px;
    line-height: 70px;
  }
}

@media screen and (max-width:1850px) {
  .branding-section span {
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width:1850px) {
  .branding-price del {
    font-size: 23px;
    line-height: 28px;
  }
}

@media screen and (max-width:1850px) {
  .excellence-box .card-body h4 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width:1850px) {
  #counter-box .counter {
    font-size: 50px;
    line-height: 62px;
  }
}

@media screen and (max-width:1850px) {
  #test-slider .slider-box .card {
    padding: 40px 91px;
  }
}

@media screen and (max-width:1850px) {
  .contact-section h3 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width:1400px) {
  .pb-125 {
    padding-bottom: 80px;
  }
}

@media screen and (max-width:1400px) {
  .pt-125 {
    padding-top: 80px;
  }
}

@media screen and (max-width:1400px) {
  .mb-125 {
    margin-bottom: 80px;
  }
}

@media screen and (max-width:1400px) {
  .mt-110 {
    margin-top: 70px;
  }
}

@media screen and (max-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}

@media screen and (max-width:1400px) {
  .slider-box .card .card-body h4 {
    font-size: 30px;
  }
}

@media screen and (max-width:1400px) {
  .cta, .logo-order {
    height: 400px;
  }
}

@media screen and (max-width:1400px) {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width:1400px) {
  h1 b {
    font-size: 54px;
    line-height: 68px;
  }
}

@media screen and (max-width:1400px) {
  h2 {
    font-size: 120px;
    line-height: 130px;
  }
}

@media screen and (max-width:1400px) {
  .font-25 {
    font-size: 22px !important;
    line-height: 26px !important;
  }
}

@media screen and (max-width:1400px) {
  .branding-section h3, h3 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width:1400px) {
  .branding-section h3, h3 {
    font-size: 42px;
    line-height: 52px;
  }
}

@media screen and (max-width:1400px) {
  .branding-img {
    width: 510px !important;
    margin-left: -50px;
  }
}

@media screen and (max-width:1400px) {
  .box-menu ul li a {
    padding: 20px 34px;
  }
}

@media screen and (max-width:1400px) {
  .box-menu ul li a:after {
    height: 32px;
  }
}

@media screen and (max-width:1400px) {
  .excellence-box .card-body {
    padding: 25px 40px 40px;
  }
}

@media screen and (max-width:1400px) {
  .branding-img {
    margin-left: -130px;
  }
}

@media screen and (max-width:1400px) {
  .cta, .logo-order {
    height: 350px;
  }
}

@media screen and (max-width:1400px) {
  .testimonial-section:before {
    top: 0;
  }
}

@media screen and (max-width:1400px) {
  footer:before {
    background-size: cover;
  }
}

@media screen and (max-width:1400px) {
  #counter-box .counter {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width:1400px) {
  .service-section .slick-list {
    padding: 0;
  }
}

@media screen and (max-width:1400px) {
  .branding-section .big {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width:1400px) {
  .branding-section span {
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width:1400px) {
  .branding-price del {
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width:1400px) {
  .slider-box .card .card-header .intro-container .name-box {
    width: 128px;
    height: 128px;
    font-size: 50px;
    line-height: 60px;
    margin-right: 25px;
  }
}

@media screen and (max-width:1400px) {
  #test-slider .slider-box .card {
    padding: 40px 80px;
  }
}

@media screen and (max-width:1400px) {
  .second-col ul {
    margin-top: 28px;
  }
}

@media screen and (max-width:1400px) {
  .second-col ul li {
    line-height: 36px;
  }
}

@media screen and (max-width:1400px) {
  .mt-40 {
    margin-top: 30px;
  }
}

@media screen and (max-width:1400px) {
  .testimonial-section {
    padding-bottom: 120px !important;
  }
}

@media screen and (max-width:1400px) {
  .package-section .card .card-body {
    padding: 25px 18px 25px 25px;
  }
}

@media screen and (max-width:1400px) {
  .package-section .card .card-body h4 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:1400px) {
  .package-section .card .card-body ul li {
    line-height: 40px;
  }
}

@media screen and (max-width:1400px) {
  .package-section .card .card-body h4 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width:1400px) {
  .banner-section:before {
    background-position: bottom center;
  }
}

@media screen and (max-width:1400px) {
  .contact-section h3, .footer-logo-section h3 {
    font-size: 32px;
    line-height: 42px;
  }
}

@media screen and (max-width:1400px) {
  .contact-section {
    padding: 50px 0px !important;
  }
}

@media screen and (max-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 960px;
  }
}

@media screen and (max-width:1200px) {
  .navbar-brand {
    width: 180px;
  }
}

@media screen and (max-width:1200px) {
  a, button {
    font-size: 14px;
  }
}

@media screen and (max-width:1200px) {
  .navbar-nav li {
    margin-right: 18px;
  }
}

@media screen and (max-width:1200px) {
  .navbar-collapse .navbar-nav .action-btn a span {
    font-size: 15px;
  }
}

@media screen and (max-width:1200px) {
  .navbar-collapse .navbar-nav .action-btn a .nav-call-icon {
    width: 42px;
    height: 42px;
  }
}

@media screen and (max-width:1200px) {
  .pt-125 {
    padding-top: 50px;
  }
}

@media screen and (max-width:1200px) {
  .pb-125 {
    padding-bottom: 50px;
  }
}

@media screen and (max-width:1200px) {
  .pb-70 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width:1200px) {
  .font-25 {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}

@media screen and (max-width:1200px) {
  .branding-section h3, h3 {
    font-size: 34px;
    line-height: 38px;
  }
}

@media screen and (max-width:1200px) {
  .heading-light {
    top: 42px;
  }
}

@media screen and (max-width:1200px) {
  h2 {
    font-size: 100px;
    line-height: 110px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-body h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-body p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-body a {
    font-size: 16px;
  }
}

@media screen and (max-width:1200px) {
  .service-section .slick-slide {
    min-height: 530px;
  }
}

@media screen and (max-width:1200px) {
  .big-btn {
    width: 180px !important;
  }
}

@media screen and (max-width:1200px) {
  .custom-btn {
    width: 145px;
    height: 54px;
  }
}

@media screen and (max-width:1200px) {
  .mb-4 {
    margin-bottom: 0.5rem !important;
  }
}

@media screen and (max-width:1200px) {
  .mt-3 {
    margin-top: 0.5rem !important;
  }
}

@media screen and (max-width:1200px) {
  .box-menu ul li a {
    padding: 18px 26px;
  }
}

@media screen and (max-width:1200px) {
  .fancybox {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1200px) {
  .mt-110 {
    margin-top: 40px;
  }
}

@media screen and (max-width:1200px) {
  .cta, .logo-order {
    height: 300px;
  }
}

@media screen and (max-width:1200px) {
  body, footer p, footer li, footer li a, footer path {
    font-size: 14px;
  }
}

@media screen and (max-width:1200px) {
  .branding-section ul li {
    position: relative;
    line-height: 30px;
  }
}

@media screen and (max-width:1200px) {
  .branding-section .big {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width:1200px) {
  .branding-section span, .branding-price del {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width:1200px) {
  .branding-img {
    margin-left: -20px;
    width: 330px !important;
  }
}

@media screen and (max-width:1200px) {
  .excellence-box .card img {
    margin-top: -25px;
    height: 68px;
  }
}

@media screen and (max-width:1200px) {
  .excellence-box .card-body {
    padding: 25px 26px 25px;
  }
}

@media screen and (max-width:1200px) {
  .excellence-box .card-body h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card span {
    width: 180px;
    height: 65px;
    font-size: 24px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card span small {
    height: 33px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card .card-body {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card .card-body h4 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card .card-body ul li {
    line-height: 32px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card .card-body h5 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:1200px) {
  .package-section .card .card-body ul {
    min-height: 280px;
    max-height: 280px;
  }
}

@media screen and (max-width:1200px) {
  .mt-50 {
    margin-top: 30px;
  }
}

@media screen and (max-width:1200px) {
  #counter-box {
    padding: 26px 0;
  }
}

@media screen and (max-width:1200px) {
  #counter-box .counter {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width:1200px) {
  #counter-box h4 {
    font-size: 18px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-header .intro-container .name-box {
    width: 108px;
    height: 108px;
    font-size: 35px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-header .intro-container .name-desc {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-header .intro-container .name-desc small {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width:1200px) {
  .design-icon img {
    max-width: 150px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-header .rating-container .rating svg {
    font-size: 16px;
  }
}

@media screen and (max-width:1200px) {
  #test-slider .slider-box .card {
    padding: 20px 40px;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card .card-header .rating-container .rating {
    margin-left: 20px;
  }
}

@media screen and (max-width:1200px) {
  #test-slider .slick-dots li.slick-active button {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width:1200px) {
  footer .mt-40 {
    margin-top: 20px;
  }
}

@media screen and (max-width:1200px) {
  .second-col ul li {
    line-height: 30px;
  }
}

@media screen and (max-width:1200px) {
  footer h4 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width:1200px) {
  .second-col ul {
    margin-top: 15px;
  }
}

@media screen and (max-width:1200px) {
  .second-col ul li svg {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 16px;
  }
}

@media screen and (max-width:1200px) {
  .footer-bottom {
    padding: 20px 0;
  }
}

@media screen and (max-width:1200px) {
  .slider-box .card {
    padding: 26px 15px;
  }
}

@media screen and (max-width:1200px) {
  .branding-section {
    padding: 0px 0px 0px;
  }
}

@media screen and (max-width:1200px) {
  .branding-section .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12 {
    padding-bottom: 50px;
  }
}

@media screen and (max-width:1200px) {
  .branding-section .container .row {
    align-items: flex-end !important;
  }
}

@media screen and (max-width:1200px) {
  .footer-call-btn a span:nth-child(odd) {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width:1200px) {
  .footer-call-btn a span svg {
    font-size: 20px;
  }
}

@media screen and (max-width:1200px) {
  .footer-call-btn a {
    gap: 10px;
  }
}

@media screen and (max-width:1000px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 720px;
  }
}

@media screen and (max-width:1000px) {
  .pb-125 {
    padding-bottom: 30px;
  }
}

@media screen and (max-width:1000px) {
  .pt-125 {
    padding-top: 30px;
  }
}

@media screen and (max-width:1000px) {
  .navbar-nav li:last-child {
    display: none;
    position: fixed;
    bottom: 12px;
    left: 10px;
  }
}

@media screen and (max-width:1000px) {
  .navbar-collapse .navbar-nav .action-btn a {
    width: 180px;
    justify-content: center;
    height: 55px;
    background: #ff5b00;
    font-size: 16px;
    animation: beat 2s infinite;
  }
}

@media screen and (max-width:1000px) {
  .navbar-collapse .navbar-nav .action-btn a span {
    font-size: 12px;
    margin-top: 6px;
  }
}

@media screen and (max-width:1000px) {
  .navbar-collapse .navbar-nav .action-btn a .nav-call-icon svg path {
    color: #242424;
  }
}

@media screen and (max-width:1000px) {
  .navbar-collapse .navbar-nav .action-btn a .nav-call-icon {
    width: 38px;
    height: 38px;
    background: #ffffff;
  }
}

@media screen and (max-width:1000px) {
  .me-3 {
    margin-right: 0.5rem !important;
  }
}

@media screen and (max-width:1000px) {
  .navbar-collapse .navbar-nav .action-btn a span {
    color: #fff;
  }
}

@media screen and (max-width:1000px) {
  p br {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .branding-section ul {
    margin-right: 30px;
  }
}

@media screen and (max-width:1000px) {
  .branding-section ul li {
    line-height: 24px;
  }
}

@media screen and (max-width:1000px) {
  .branding-section h3, h3, .contact-section h3, .footer-logo-section h3 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (max-width:1000px) {
  .heading-light {
    top: 32px;
  }
}

@media screen and (max-width:1000px) {
  h2 {
    font-size: 80px;
    line-height: 90px;
  }
}

@media screen and (max-width:1000px) {
  .service-section .slick-track .slick-slide:nth-child(odd) {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width:1000px) {
  .service-section .slick-track .slick-slide:nth-child(odd) {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width:1000px) {
  .service-section .slick-slide {
    min-height: 460px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-body h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card img, .slider-box .card .card-body p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card img {
    width: 100px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-body p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-body p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width:1000px) {
  .service-section .slick-slide {
    min-height: 410px;
  }
}

@media screen and (max-width:1000px) {
  .box-menu ul li a:after {
    height: 20px;
    top: 16px;
  }
}

@media screen and (max-width:1000px) {
  .mt-40 {
    margin-top: 20px;
  }
}

@media screen and (max-width:1000px) {
  .mt-3 {
    margin-top: 0.3rem !important;
  }
}

@media screen and (max-width:1000px) {
  .mb-4 {
    margin-bottom: 0.2rem !important;
  }
}

@media screen and (max-width:1000px) {
  .fancybox {
    justify-content: center;
  }
}

@media screen and (max-width:1000px) {
  .fancybox img {
    width: auto;
  }
}

@media screen and (max-width:1000px) {
  .fancybox {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1000px) {
  .box-menu ul li a {
    padding: 14px 15px;
    font-size: 12px;
  }
}

@media screen and (max-width:1000px) {
  .box-menu ul li a:after {
    height: 16px;
    top: 18px;
  }
}

@media screen and (max-width:1000px) {
  .overlay {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .cta, .logo-order {
    height: 240px;
  }
}

@media screen and (max-width:1000px) {
  .mt-110 {
    margin-top: 25px;
  }
}

@media screen and (max-width:1000px) {
  .excellence-section .mt-110 {
    margin-top: 0px;
  }
}

@media screen and (max-width:1000px) {
  .font-25 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
}

@media screen and (max-width:1000px) {
  .branding-img {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .branding-section {
    padding: 30px 0;
  }
}

@media screen and (max-width:1000px) {
  .excellence-box {
    margin-bottom: 45px;
  }
}

@media screen and (max-width:1000px) {
  .excellence-box.mt-110 {
    margin-top: 0;
  }
}

@media screen and (max-width:1000px) {
  .excellence-box {
    margin-bottom: 45px;
  }
}

@media screen and (max-width:1000px) {
  .logo-order {
    margin-top: 0;
  }
}

@media screen and (max-width:1000px) {
  br {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  h3.mb-4 {
    margin-bottom: 0.6rem !important;
  }
}

@media screen and (max-width:1000px) {
  .custom-btn {
    width: 130px;
    height: 46px;
  }
}

@media screen and (max-width:1000px) {
  .custom-btn.me-4 {
    margin-right: 0.5rem !important;
  }
}

@media screen and (max-width:1000px) {
  .branding-section .big {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width:1000px) {
  .package-section .col-sm-12 .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1000px) {
  .package-section .mt-50 {
    margin-top: 0;
  }
}

@media screen and (max-width:1000px) {
  .experince-section {
    padding-top: 30px;
  }
}

@media screen and (max-width:1000px) {
  .experince-section .heading-light {
    top: -10px;
  }
}

@media screen and (max-width:1000px) {
  #counter-box {
    display: inline-flex;
    flex-direction: column;
    width: 280px !important;
    padding: 30px 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1000px) {
  .experince-section .row:last-child {
    margin-top: 0;
  }
}

@media screen and (max-width:1000px) {
  .experince-section {
    padding-bottom: 0;
  }
}

@media screen and (max-width:1000px) {
  #counter-box .counter {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width:1000px) {
  .experince-section .row {
    text-align: center;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-header .intro-container .name-box {
    width: 90px;
    height: 90px;
    font-size: 28px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-header .intro-container .name-desc {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-header .intro-container .name-desc small {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-header .rating-container .rating svg {
    font-size: 14px;
  }
}

@media screen and (max-width:1000px) {
  .slider-box .card .card-header .rating-container .rating {
    margin-left: 15px;
  }
}

@media screen and (max-width:1000px) {
  #test-slider .slider-box .card {
    padding: 22px 22px;
  }
}

@media screen and (max-width:1000px) {
  #test-slider .slider-box {
    padding: 0;
  }
}

@media screen and (max-width:1000px) {
  .mt-70 {
    margin-top: 30px;
  }
}

@media screen and (max-width:1000px) {
  #test-slider .slick-dots li.slick-active {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width:1000px) {
  #test-slider .slick-dots li {
    margin-right: 10px;
  }
}

@media screen and (max-width:1000px) {
  .col-md-4, .col-md-6, .col-md-5 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media screen and (max-width:1000px) {
  .contact-section, .footer-logo-section {
    padding: 30px 0px !important;
  }
}

@media screen and (max-width:1000px) {
  .contact-section .contact-img-box {
    margin-top: 30px;
  }
}

@media screen and (max-width:1000px) {
  .mb-15 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width:1000px) {
  footer .col-md-3 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media screen and (max-width:1000px) {
  footer:before {
    background-size: 100%;
  }
}

@media screen and (max-width:1000px) {
  .linear-gradient-bg {
    background-image: none;
    background-color: #F7F7F7;
  }
}

@media screen and (max-width:1000px) {
  .project-section {
    padding-bottom: 30px;
  }
}

@media screen and (max-width:1000px) {
  .excellence-section {
    padding-bottom: 30px;
  }
}

@media screen and (max-width:1000px) {
  .branding-section .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12 {
    padding-bottom: 0px;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card img {
    width: 75px;
  }
}

@media screen and (max-width:767px) {
  .desktop-hide {
    display: block !important;
  }
}

@media screen and (max-width:767px) {
  footer h4 {
    font-size: 18px;
    line-height: 5px;
  }
}

@media screen and (max-width:767px) {
  .container, .container-sm {
    max-width: 480px;
  }
}

@media screen and (max-width:767px) {
  .service-section .slick-slide {
    padding-top: 20px;
  }
}

@media screen and (max-width:767px) {
  .service-section .slick-slide {
    min-height: 380px;
  }
}

@media screen and (max-width:767px) {
  .box-menu ul li {
    width: 100%;
    border-bottom: 1px solid #000 !important;
  }
}

@media screen and (max-width:767px) {
  .box-menu ul {
    border-bottom: 0;
  }
}

@media screen and (max-width:767px) {
  .box-menu ul li a:after {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .cta, .logo-order {
    padding: 0 60px;
  }
}

@media screen and (max-width:767px) {
  .font-25 {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

@media screen and (max-width:767px) {
  .branding-section h3, h3, .contact-section h3, .footer-logo-section h3 {
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width:767px) {
  .custom-btn {
    width: 124px;
    height: 43px;
  }
}

@media screen and (max-width:767px) {
  .cta, .logo-order {
    height: 200px;
  }
}

@media screen and (max-width:767px) {
  h2 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media screen and (max-width:767px) {
  .branding-section .big {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width:767px) {
  .excellence-box .card img {
    height: 58px;
  }
}

@media screen and (max-width:767px) {
  .excellence-box .card-body {
    padding: 20px 20px 20px;
  }
}

@media screen and (max-width:767px) {
  .excellence-box .card-body h4 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 2px;
  }
}

@media screen and (max-width:767px) {
  #counter-box {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:767px) {
  .home .testimonial-section {
    margin-top: 15px;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card .card-header .intro-container .name-desc {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width:767px) {
  .mt-4 {
    margin-top: 0.5rem !important;
  }
}

@media screen and (max-width:767px) {
  .testimonial-section {
    padding-bottom: 90px !important;
  }
}

@media screen and (max-width:767px) {
  footer ul.mt-40 {
    margin-top: 5px;
  }
}

@media screen and (max-width:767px) {
  .first-col {
    margin-bottom: 15px;
  }
}

@media screen and (max-width:767px) {
  .second-col:nth-child(2) {
    margin: 15px 0;
  }
}

@media screen and (max-width:767px) {
  .second-col:nth-child(3) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width:767px) {
  footer h4 {
    font-size: 20px;
    line-height: 10px;
  }
}

@media screen and (max-width:767px) {
  .footer-bottom .container .row div {
    justify-content: center !important;
  }
}

@media screen and (max-width:767px) {
  .footer-bottom .container .row p {
    margin-bottom: 6px;
  }
}

@media screen and (max-width:767px) {
  .footer-bottom .container .row p, .footer-bottom .container .row ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width:767px) {
  .contact-form input, .contact-form input::placeholder, .contact-form select, .contact-form textarea, .contact-form textarea::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width:767px) {
  header {
    padding-top: 10px;
  }
}

@media screen and (max-width:767px) {
  .service-section .slick-list {
    padding: 0px 0% 0px 0% !important;
  }
}

@media screen and (max-width:767px) {
  .service-section .slick-track .slick-slide:nth-child(odd) {
    margin-top: 0rem;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card {
    margin: 0 5px 15px;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card {
    padding: 20px 10px;
  }
}

@media screen and (max-width:767px) {
  a, button {
    font-size: 13px;
  }
}

@media screen and (max-width:767px) {
  .testimonial-section:before {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card .card-header {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card .card-header .intro-container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width:767px) {
  .rating-container {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card .card-header .intro-container .name-box {
    width: 80px;
    height: 80px;
    font-size: 22px;
    padding-top: 6px;
  }
}

@media screen and (max-width:767px) {
  .slider-box .card .card-header .intro-container .name-box {
    margin-right: 15px;
  }
}

@media screen and (max-width:500px) {
  .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width:500px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width:500px) {
  .excellence-section .mt-110 {
    margin-top: 55px;
  }
}

@media screen and (max-width:500px) {
  .navbar-brand {
    width: 140px;
    padding: 0;
  }
}

@media screen and (max-width:500px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width:500px) {
  .slider-box .card .card-body h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width:500px) {
  .slider-box .card .card-body a {
    font-size: 14px;
  }
}

@media screen and (max-width:500px) {
  .service-section .slick-slide {
    min-height: auto;
  }
}

@media screen and (max-width:500px) {
  .branding-section h3, h3, .contact-section h3, .footer-logo-section h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width:500px) {
  h3.mb-4 {
    margin-bottom: 0.3rem !important;
  }
}

@media screen and (max-width:500px) {
  .big-btn {
    width: 150px !important;
  }
}

@media screen and (max-width:500px) {
  h2 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media screen and (max-width:500px) {
  .cta, .logo-order {
    padding: 0 10px;
  }
}

@media screen and (max-width:500px) {
  .cta, .logo-order {
    height: auto;
    padding: 30px 0;
  }
}

@media screen and (max-width:500px) {
  .cta-btn {
    display: flex !important;
    flex-direction: column;
    margin-top: 10px;
  }
}

@media screen and (max-width:500px) {
  .custom-btn.me-4 {
    margin-right: 0rem !important;
  }
}

@media screen and (max-width:500px) {
  .cta-btn a {
    margin: 0 !important;
  }
}

@media screen and (max-width:500px) {
  .cta-btn .border-bg {
    margin-top: 10px !important;
  }
}

@media screen and (max-width:500px) {
  .package-section .card span {
    width: 150px;
    height: 55px;
    font-size: 20px;
  }
}

@media screen and (max-width:500px) {
  .package-section .card .card-body {
    padding: 15px 15px 15px 15px;
  }
}

@media screen and (max-width:500px) {
  .package-section .card .card-body h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width:500px) {
  .package-section .card .card-body h5 {
    font-size: 20px;
  }
}

@media screen and (max-width:500px) {
  .pb-150 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width:500px) {
  .pt-280 {
    padding-top: 100px;
  }
}

@media screen and (max-width:500px) {
  h1, h1 b {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width:500px) {
  .mt-96 {
    margin-top: 0;
  }
}

@media screen and (max-width:500px) {
  .inner-branding-section .heading-light {
    top: -20px;
  }
}

@media screen and (max-width:500px) {
  .inner-branding-section {
    padding: 45px 0 30px;
  }
}

@media screen and (max-width:500px) {
  .about .service-section {
    background: #F7F7F7;
  }
}

@media screen and (max-width:500px) {
  .inner-branding-section .d-inline-flex {
    margin-top: 6px;
  }
}

@media screen and (max-width:500px) {
  .inner-branding-section:before {
    top: 0;
    background-size: 100%;
  }
}

@media screen and (max-width:500px) {
  .sidebar {
    padding: 12px;
    display: block !important;
    top: 0;
  }
}

@media screen and (max-width:500px) {
  .footer-call-btn a {
    gap: 5px;
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width:500px) {
  .footer-call-btn {
    left: 10px;
    bottom: 4px;
  }
}

@media screen and (max-width:500px) {
  .footer-call-btn a span svg {
    font-size: 18px;
  }
}

/* Key Frames */

@keyframes beat {
  50% {
    transform: scale(1.05);
  }
}

