/* assets/css/style.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan-Medium';
  color: #4D4D4D;
}

::selection {
  color: #fff;
  background: #dc3545;
}

/* Fonts */

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1420px;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  background-color: #212529;
}

body::-webkit-scrollbar-thumb {
  background: #dc3545;
}

a, button {
  font-size: 17px;
  text-decoration: none;
  color: #4D4D4D;
}

body {
  font-size: 20px;
  line-height: 30px;
  overflow-x: hidden;
}

a:hover {
  color: #e44444;
}

a:hover, input[type="submit"]:focus, button:focus {
  text-decoration: none !important;
  outline: none !important;
}

a, input[type="submit"], button {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out !important;
}

#header {
  transition: all 0.4s ease;
}

.home #header.sticky_header {
  background: #242424;
  box-shadow: none !important;
}

#header.sticky_header {
  padding-top: 0;
  height: 88px;
  background: #ffffff;
  z-index: 11;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.home .log-white {
  display: block !important;
}

.log-white {
  display: none;
}

.home .logo-orange {
  display: none !important;
}

.logo-orange {
  display: block;
}

.home .navbar-nav .nav-link {
  color: #fff;
}

.home .navbar-nav .nav-link svg path {
  color: #fff;
}

.pt-280 {
  padding-top: 280px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-96 {
  padding-bottom: 70px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-125 {
  padding-bottom: 125px;
}

.mb-125 {
  margin-bottom: 125px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-184 {
  margin-top: 184px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-125 {
  margin-bottom: 125px;
}

.body-bglight {
  background: #F7F7F7;
}

.bg-full {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-family: 'Spartan-SemiBold';
  font-size: 52px;
  line-height: 62px;
}

h1 b {
  font-size: 68px;
  line-height: 82px;
  font-family: 'Spartan-ExtraBold';
}

h1 span {
  font-weight: 600;
}

h2, h3 {
  font-family: 'Spartan-ExtraBold';
}

h2 {
  font-size: 160px;
  line-height: 190px;
  color: #f9f9f9;
  margin-bottom: 0;
}

h3 {
  font-size: 60px;
  line-height: 72px;
}

h4, h5, h6 {
  font-family: 'Spartan-Bold';
}

p {
  margin-bottom: 0;
}

header {
  padding-top: 30px;
  z-index: 1;
}

section {
  position: relative;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  padding: 0 !important;
  color: #4A4A4A;
}

.navbar-nav li:last-child {
  margin: 0;
}

.navbar-nav li.nav-item.active a {
  font-family: 'Spartan-Bold';
  color: #FF5B00;
}

.banner-section {
  z-index: 0;
}

.home .banner-section:before {
  display: none;
}

.banner-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/img/banner-back.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.banner-section img {
  width: 764px !important;
  max-width: max-content;
}

.banner-section p {
  font-size: 22px;
  line-height: 26px;
}

.banner_content p strong {
  font-family: 'Spartan-SemiBold';
}

.orange {
  color: #FF5B00;
}

.custom-btn {
  width: 168px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Spartan-SemiBold';
  position: relative;
  z-index: 1;
  border: 0;
}

.big-btn {
  width: 214px;
}

.small-btn {
  width: 150px;
}

.med-btn {
  width: 164px;
}

.m-auto {
  margin: 0 auto;
}

.primary-bg {
  background: #FF5B00;
  color: #fff;
}

.primary-bg .blob-btn__blob {
  background: #4A4A4A;
}

.primary-bg:hover {
  color: #fff;
}

.border-bg {
  border: 2px solid #4D4D4D;
}

.b-white {
  border-color: #fff;
}

.black-bg {
  background: #4A4A4A;
}

.text-light {
  color: #EFEFEF !important;
}

.z-0 {
  z-index: 0 !important;
}

.z-1 {
  z-index: 1;
}

.banner-section a {
  display: inline-flex;
}

.banner-section ul li {
  display: inline-flex;
}

.banner-section ul li a {
  font-size: 20px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.banner-section ul li a svg path {
  color: #fff;
}

.navbar-collapse .navbar-nav .action-btn a {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}

.navbar-collapse .navbar-nav .action-btn a span {
  font-size: 18px;
  color: #FF5B00;
  font-family: 'Spartan-Bold';
  margin-top: 7px;
}

.navbar-collapse .navbar-nav .action-btn a .nav-call-icon {
  display: flex;
  width: 48px;
  height: 48px;
  background: #4A4A4A;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.navbar-collapse .navbar-nav .action-btn a .nav-call-icon svg path {
  color: #fff;
}

.logo-row {
  display: flex;
}

.font-25 {
  font-size: 25px !important;
  line-height: 30px !important;
  font-family: 'Spartan-SemiBold';
}

.heading-light {
  left: 0;
  right: 0;
  z-index: -1;
  top: 82px;
}

.slider-box .card img {
  width: max-content;
  margin-bottom: 74px;
}

.slider-box .card .card-body {
  padding: 0;
  background: transparent;
}

.slider-box .card .card-body h4 {
  font-size: 35px;
  font-family: 'Spartan-ExtraBold';
  margin-bottom: 34px;
}

.slider-box .card .card-body p {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 54px;
}

.slider-box .card .card-body a {
  font-size: 20px;
  font-family: 'Spartan-Bold';
  text-decoration: underline;
}

.slider-box .card {
  border: 0;
  align-items: center;
  padding: 66px 20px;
  box-shadow: 0 1px 14px #00000012;
  margin: 0 15px;
}

#test-slider .slider-box {
  padding: 10px 20px;
}

.service-section .slick-slide .mt-5 {
  margin-top: 0 !important;
}

.service-section .slick-track .slick-slide:nth-child(odd) {
  margin-top: 3rem;
}

.service-section .slick-list {
  padding: 0px 10% 0px 11% !important;
}

.service-section .slick-slide {
  display: inline-block !important;
  padding-top: 52px;
  min-height: 700px;
  height: auto;
}

.fancybox img {
  width: 100%;
}

.box-menu ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: inline-block;
  border: 1px solid #707070;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.box-menu ul li {
  display: inline-block;
  padding: 0px;
  /*display: flex;*/
}

.box-menu ul li.active, .box-menu ul li a:hover {
  background: #FF5B00;
  color: #fff;
}

.box-menu ul li a {
  display: inline-block;
  padding: 6px 32px;
  position: relative;
}

.box-menu ul li a:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #707070;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out !important;
}

.box-menu ul li.active a {
  color: #fff;
}

.box-menu ul li.active a:after, .box-menu ul li:last-child a:after {
  display: none;
}

.fancybox {
  margin-bottom: 62px;
}

.fancybox-button svg path, .fancybox-infobar, .fancybox-infobar span {
  color: #fff;
}

.fancybox-caption__body {
  color: #FF5B00;
  font-family: 'Spartan-Bold';
  font-size: 18px;
}

.box .translate-middle {
  transform: translate(-50%, -50%) scale(0) !important;
}

.overlay {
  transition: all cubic-bezier(0.18, 0.39, 0.32, 1.0) 0.6s;
  background: rgb(77 77 77 / 77%);
}

.box a:hover .overlay {
  transform: translate(-50%, -50%) scale(1) !important;
}

.box a .overlay i {
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.box a .overlay h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 37px;
  line-height: 45px;
}

.gif-video-size {
  height: 339px;
  object-fit: cover;
  object-position: center;
}

.box .overlay h4, .box .overlay svg path {
  color: #fff;
}

.box .overlay svg {
  font-size: 30px;
  margin-bottom: 20px;
}

.linear-gradient-bg {
  background-image: linear-gradient(#F7F7F7 87%, #fff 13%);
}

.linear-gradient-bg-reverse {
  background-image: linear-gradient(#fff 23%, #f7f7f7 13%);
}

.project-section:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/img/service-bg.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.cta {
  background: url(../../assets/img/cta-bg.png);
  height: 498px;
}

.branding-section h3 {
  font-size: 52px;
  line-height: 62px;
}

.branding-section .heading-light {
  top: -30px;
}

section {
  position: relative;
  overflow: visible;
  z-index: 1;
}

.branding-section ul {
  float: left;
  margin-right: 70px;
}

.branding-section ul li {
  position: relative;
  line-height: 40px;
}

.branding-section ul li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 19px;
  color: #FF5B00;
  margin-right: 20px;
}

.branding-price {
  position: relative;
  float: left;
}

.branding-section .big {
  font-size: 75px;
  line-height: 90px;
  font-family: 'Spartan-ExtraBold';
  margin-right: 10px;
}

.branding-section span {
  font-size: 25px;
  font-family: 'Spartan-SemiBold';
  line-height: 31px;
}

.branding-price del {
  color: #9B9B9B;
  font-size: 28px;
  line-height: 33px;
}

.branding-img {
  width: 649px !important;
  margin-left: -100px;
}

.excellence-box .card {
  border: 0;
  background: #fff;
  box-shadow: 0 10px 48px #0000001c;
}

.excellence-box .card img {
  width: fit-content;
  height: 88px;
  object-fit: cover;
  object-position: center;
}

.excellence-box .card-body {
  padding: 35px 75px;
}

.excellence-box .card-body img {
  margin-bottom: 22px;
  margin-top: 0 !important;
  height: auto;
}

.excellence-box .card-body h4 {
  font-size: 35px;
  line-height: 41px;
  font-family: 'Spartan-ExtraBold';
  margin-bottom: 15px;
}

.excellence-box .card img {
  margin-top: -65px;
}

.logo-order {
  background: url(../../assets/img/logo-order.png);
  height: 498px;
}

.excellence-section:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/img/excellence-bg.png);
  background-size: 100%;
  background-position: 0px 150px;
  background-repeat: no-repeat;
  z-index: -1;
}

.package-section .card {
  border: 0;
  box-shadow: 0 10px 48px #0000001c;
  height: 100%;
}

.package-section .card span {
  width: 248px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: 'Spartan-ExtraBold';
}

.package-section .video-animation-packages .card span {
  width: 305px;
}

.package-section .video-animation-packages .card span small {
  padding-left: 10px;
}

.package-section .card span small {
  font-size: 18px;
  display: flex;
  height: 48px;
  align-items: flex-end;
  font-family: 'Spartan-ExtraBold';
}

.package-section .card .card-body h4 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: 'Spartan-ExtraBold';
}

.package-section .card .card-body h5 {
  color: #ff5b00;
  font-family: 'Spartan-ExtraBold';
  margin-top: 10px;
  margin-bottom: 20px;
}

.package-section .card .card-body {
  padding: 35px 18px 35px 35px;
  margin-right: 0;
}

.package-section .card .card-body ul {
  min-height: 400px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.package-section #video-animation .card .card-body ul {
  min-height: 200px;
}

.package-section .video-animation-packages .card .card-body ul {
  min-height: 270px;
  max-height: 270px;
}

.package-section .card .card-body ul::-webkit-scrollbar {
  width: 8px;
}

.package-section .card .card-body ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.package-section .card .card-body ul::-webkit-scrollbar-thumb {
  background: #9B9B9B;
  border-radius: 20px;
}

.package-section .card .card-body ul li {
  line-height: 46px;
}

.experince-section .heading-light {
  top: -50px;
}

#counter-box {
  padding: 46px 0;
}

#counter-box .counter {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 4px;
  font-family: 'Spartan-ExtraBold';
  color: #fff;
}

#counter-box .counter:after {
  content: "+";
}

#counter-box h4 {
  margin-bottom: 0;
  font-family: 'Spartan-SemiBold';
  font-size: 23px;
}

.slider-box .card .card-header {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  width: 100%;
}

.slider-box .card .card-header .intro-container .name-box {
  width: 138px;
  height: 138px;
  font-size: 56px;
  line-height: 66px;
  text-transform: uppercase;
  font-family: 'Spartan-SemiBold';
  margin-right: 35px;
  padding-top: 12px;
}

.slider-box .card .card-header .intro-container .name-desc {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Spartan-ExtraBold';
}

.slider-box .card .card-header .intro-container .name-desc small {
  font-size: 20px;
  line-height: 23px;
}

.slider-box .card .card-header .rating-container img {
  margin: 0;
}

.slider-box .card .card-header .rating-container .rating {
  margin-left: 35px;
}

.slider-box .card .card-header .rating-container .rating svg {
  font-size: 20px;
}

.slider-box .card .card-header .rating-container .rating svg path {
  color: #FF5B00;
}

#test-slider .slider-box .card {
  padding: 54px 112px;
  margin: 0px;
}

#test-slider .slider-box .card .card-text {
  margin: 0;
}

#test-slider .slick-dots {
  bottom: -50px;
}

#test-slider .slick-dots li {
  margin: 0;
  width: 10px;
  height: 10px;
  margin-right: 20px;
}

#test-slider .slick-dots li button {
  padding: 0;
  width: 10px;
  height: 10px;
  background: #9B9B9B;
  border-radius: 100%;
}

#test-slider .slick-dots li button:before {
  display: none;
}

#test-slider .slick-dots li.slick-active {
  width: 16px;
  height: 16px;
}

#test-slider .slick-dots li.slick-active button {
  width: 16px;
  height: 16px;
  background: #FF5B00;
}

div#test-slider {
  padding: 0;
  margin: 0;
}

.testimonial-section:before {
  content: "";
  background: url(../../assets/img/test-bg.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.contact-section .heading-light {
  top: -50px;
}

.contact-section h3 {
  font-size: 56px;
  line-height: 66px;
}

.contact-img-box img {
}

.contact-form input {
  height: 42px;
  border-radius: 0;
  border-color: #4D4D4D;
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 12px;
  padding-left: 10px;
}

.contact-form select {
  font-size: 14px;
  height: 42px;
  border-right: 0;
  background: #F7F7F7;
  padding-left: 10px;
  text-indent: 1px;
  display: inline-flex;
  width: 70px;
  position: absolute;
}

.contact-form #CountryCOde {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-form #RequiredServices1 {
  position: relative;
  width: 100%;
  border-right: 1px solid #4D4D4D !important;
  margin-bottom: 12px;
  background: #fff;
}

.contact-form input[type="tel"] {
  border-left: 0;
  display: inline-flex;
  padding-left: 90px;
}

.contact-form textarea {
  height: 72px;
  resize: none;
  border-radius: 0;
  padding-left: 10px;
  padding-top: 10px;
  border-color: #4D4D4D;
  margin-bottom: 12px;
  font-size: 14px;
}

.contact-form button {
  outline: none;
  border: 0;
  width: 182px;
  height: 52px;
  background: #FF5B00;
  color: #fff;
  font-size: 14px;
}

.contact-page-section .contact-form input {
  height: 72px;
  margin-bottom: 25px;
  padding-left: 25px;
  font-size: 16px;
}

.contact-page-section textarea {
  height: 350px;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 16px;
}

.contact-page-section textarea {
  height: 250px;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 16px;
  margin-bottom: 25px;
}

.contact-page-section button {
  width: 168px;
  height: 70px;
}

.contact-section .font-25 {
  font-size: 18px !important;
  line-height: 1.42857143 !important;
}

.contact-section h3, .footer-logo-section h3 {
  font-size: 36px;
  line-height: 1.1;
}

.contact-section .mt-40 {
  margin-top: 15px;
}

.contact-section {
  padding: 50px 0px;
  background: url(../../assets/img/contact-bg.webp);
}

.footer-logo-section {
  padding: 50px 0px;
}

.footer-logo-section .col {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #242424;
}

footer img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(14deg) brightness(105%) contrast(101%);
}

footer:before {
  content: "";
  position: absolute;
  background: url(../../assets/img/footer-bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  z-index: -1;
}

footer .first-col ul li {
  margin-right: 25px;
  display: inline-flex;
}

footer p, footer li, footer li a, footer path {
  color: #fff !important;
  font-size: 18px;
}

footer h4 {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Spartan-ExtraBold';
  margin-bottom: 0;
  color: #fff;
}

.second-col ul {
  margin-top: 38px;
}

.second-col ul li {
  line-height: 41px;
}

.second-col ul li svg {
  margin-right: 15px;
  margin-top: 14px;
  font-size: 20px;
}

.second-col ul li svg path {
  color: #FF5B00;
}

.contact-info li {
  display: flex;
}

.contact-info li:last-child {
  line-height: 25px;
  margin-top: 6px;
}

.footer-bottom ul li {
  display: inline-flex;
}

.footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #707070;
}

.footer-bottom ul li {
  line-height: 18px;
}

.footer-bottom ul li:first-child {
  padding-right: 14px;
  margin-right: 14px;
  border-right: 1px solid #a1a1a1;
}

.footer-bottom p a {
  color: #FF5B00;
}

/*  */

.modal-inner {
  padding: 42px 50px 62px;
  position: relative;
  border-radius: 0;
  border: 0;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Spartan-ExtraBold';
}

.modal-header, .modal-body {
  border: 0;
  padding: 0;
}

.modal-header {
  margin-bottom: 30px;
}

.modal-header .btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff !important;
  background: #ff5b00;
  border-radius: 0;
  opacity: 1;
}

.modal-header .btn-close:before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.modal-lg, .modal-xl {
  max-width: 698px;
}

.modal-body {
  padding: 0;
}

.modal-body .form-inner {
  background: #F7F7F7;
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

.modal-body .form-inner input, .modal-body .form-inner textarea {
  border: 0;
  background: transparent;
  height: 70px;
  padding: 0;
  font-size: 17px;
  color: #4A4A4A;
  padding-left: 50px;
}

.modal-body .form-inner input::placeholder, .modal-body .form-inner textarea::placeholder {
  color: #4A4A4A;
}

.modal-body .form-inner svg {
  margin-right: 14px;
  font-size: 17px;
  position: absolute;
  left: 20px;
}

.modal-body .form-inner svg path {
  color: #FF5B00;
}

.modal-body .form-inner textarea {
  height: 150px;
  resize: none;
  padding-top: 20px;
}

.modal-body .form-inner.textarea svg {
  top: 20px;
}

.modal-body .form-inner.textarea {
  align-items: flex-start;
  padding-top: 0px;
  position: relative;
  z-index: 1;
}

.modal-body .form-inner.submit button {
  border: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF5B00;
  color: #fff;
}

.modal-body .form-inner.submit {
  margin: 0 !important;
  background: transparent;
  padding: 0;
}

.modal-content:before {
  content: "";
  width: 124px;
  height: 83px;
  position: absolute;
  top: 0;
  left: 26px;
  background: url(../../assets/img/form-top-circle.png);
}

.modal-content:after {
  content: "";
  width: 90px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: 0 auto;
  background: url(../../assets/img/form-bottom-circle.png);
}

.modal-dialog {
  position: relative;
}

.modal-inner:before {
  content: "";
  position: absolute;
  background: url(../../assets/img/form-right-line.png);
  width: 77px;
  height: 56px;
  top: 30px;
  right: 0;
  z-index: 1;
}

.modal-inner:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 130px;
  background: url(../../assets/img/modal-triangle.png);
  width: 89px;
  height: 93px;
}

.modal-dialog:after {
  content: "";
  position: absolute;
  background: url(../../assets/img/form-left-line.png);
  width: 53px;
  height: 100px;
  bottom: 280px;
  left: 0;
  z-index: 1;
}

/* Inner */

.inner_banner-section:before {
  background: url(../../assets/img/inner-header-bg.png);
}

.inner-project-section:before {
  background: none;
}

.inner-branding-section:before {
  background: url(../../assets/img/web-page-designs.png);
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about .slider-box .card {
  background-color: #f7f7f7;
}

.inner-branding-section .branding-img {
  margin: 0;
}

.inner-branding-section .heading-light {
  top: -40px;
}

.inner-big-btn {
  width: 192px;
  height: 72px;
  color: #FF5B00;
  border: 2px solid #FF5B00;
}

.navbar-nav li .sub-menu {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 40px;
  width: 250px;
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 650ms cubic-bezier(.76, 0, .11, 1);
  -o-transition: all 650ms cubic-bezier(.76, 0, .11, 1);
  transition: all 650ms cubic-bezier(.76, 0, .11, 1);
  -webkit-transition-timing-function: cubic-bezier(.76, 0, .31, 1);
  -o-transition-timing-function: cubic-bezier(.76, 0, .31, 1);
  transition-timing-function: cubic-bezier(.76, 0, .31, 1);
}

.navbar-nav li .sub-menu li {
  margin: 0;
  width: 100%;
}

.home .navbar-nav li .sub-menu li a {
  color: #000;
  background: #ffffff;
  border-bottom: 1px solid #000;
}

.navbar-nav li .sub-menu li a {
  padding: 10px 10px;
  display: flex;
  font-size: 14px;
  color: #fff;
  background: #ff5b00;
  border-bottom: 1px solid #fff;
}

.navbar-nav li .sub-menu li:last-child a {
  border-bottom: 0;
}

.home .navbar-nav li .sub-menu li a:hover {
  color: #fff;
}

.navbar-nav li .sub-menu li a:hover {
  background: #4a4a4a;
}

.navbar-nav li .sub-menu li:last-child {
  margin-bottom: 0;
}

.navbar-nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.about .testimonial-section.body-bglight {
  background: #fff;
}

.about .logo-order {
  display: none !important;
}

.choose-box .card {
  border: 0;
  border-radius: 0;
  padding: 100px 42px 52px 50px;
  box-shadow: 0 10px 48px #00000008;
  min-height: 295px;
}

.choose-box .card img {
  position: absolute;
  top: -60px;
  width: fit-content;
}

.choose-box .card .card-body {
  padding: 0;
}

.choose-box .card .card-body h4 {
  font-size: 25px;
  line-height: 31px;
  font-family: 'Spartan-SemiBold';
  margin-bottom: 22px;
}

.contact .contact-section {
  display: none !important;
}

.contact #contactpage.contact-section {
  display: block !important;
}

.contact .contact-form input[type="tel"] {
  border-left: 1px solid #4D4D4D;
  padding-left: 30px;
}

.contact-page .contact-info ul {
  padding: 50px 30px;
  background: #ff5b00;
}

.contact-page .contact-info ul li {
  margin-bottom: 30px;
}

.contact-page .contact-info ul li:last-child {
  margin-bottom: 0px;
}

.contact-page .contact-info ul li, .contact-page .contact-info ul li a, .contact-page .contact-info ul li svg path {
  color: #fff;
}

.contact-page .contact-info ul li svg {
  margin-right: 15px;
  font-size: 26px;
}

.Seo .inner-branding-section:before {
  display: none;
}

.Seo .choose-box .card {
  min-height: 480px;
}

.Seo .package-section .heading-light {
  top: -42px;
}

.navbar-toggler .navbar-toggler-icon {
  background: url(../../assets/img/menu-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

button.navbar-toggler {
  background: #4d4d4d;
  padding: 3px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* menu sidebar */

.sidebar {
  background: #ff5b00;
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 1111;
  transition: transform .3s ease-in-out;
  transform: translateX(-250px);
  top: 46px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar ul a {
  position: relative;
  text-decoration: none;
  display: block;
  background-color: transparent;
  color: #fff;
  padding: 14px 16px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
}

.sidebar ul a li i {
  margin-right: 15px;
}

/* Add the word "New" to the second item and "2" to the third item */

.sidebar ul a:nth-child(2)::after, .sidebar ul a:nth-child(3)::after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -9px;
  color: #fff;
  font-size: 13px;
  padding: 0 7px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.sidebar ul a:nth-child(2)::after {
  content: "New";
  background-color: tomato;
}

.sidebar ul a:nth-child(3)::after {
  content: "2";
  background-color: #247D9E;
}

/* Add margin to the icon in the second item */

.sidebar ul a:nth-child(2) li i {
  margin-left: 4px;
  margin-right: 19px;
}

.sidebar ul a:hover, .sidebar ul a.active {
  /*background-color: #161920;*/
  color: #000;
}

.desktop-hide {
  display: none;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: "";
  background-color: #000;
  width: 4px;
  height: 90%;
}

.sidebar ul a.active::before, .sidebar ul a:hover::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: "";
  background-color: #f6c920;
  width: 4px;
  height: 90%;
}

#checkbox:checked ~ .sidebar {
  transform: translateX(0);
}

ul.navigation li a i {
  position: relative;
  right: -2px;
  top: -2px;
  color: #6e3e92;
}

.sidebar h4 {
  color: #fff;
  font-size: 27px;
  margin: 10px 0;
}

.sidebar img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(14deg) brightness(105%) contrast(101%);
  width: 160px;
}

.sidebar-nav li svg {
  margin-left: 10px;
}

.sidebar-nav li svg path {
  color: #fff;
}

.sidebar {
  padding: 12px;
  display: none;
}

#checkbox:checked + .btn2 {
  width: 250px;
  padding: 0;
  margin: 0;
}

#checkbox:checked + .btn2 span {
  display: inline;
}

#checkbox:checked + .btn2 span {
  display: inline;
}

.desktop-hidden {
  display: none;
}

.sidebar .sub-menu {
  padding-left: 20px;
}

/* menu sidebar */

.icons-sprite {
  background: url('../../assets/img/sprite-circle-icons-new.png') no-repeat top left;
}

.web-developement.icons-sprite {
  background-position: 0 -1624px;
  width: 138px;
  height: 138px;
}

.mobile-application.icons-sprite {
  background-position: 0 -470px;
  width: 138px;
  height: 138px;
}

.video-animation.icons-sprite {
  background-position: 0 -1344px;
  width: 138px;
  height: 138px;
}

.web-design.icons-sprite {
  background-position: 0 -1484px;
  width: 138px;
  height: 138px;
}

.logo-creation.icons-sprite {
  background-position: 0 -1765px;
  width: 138px;
  height: 138px;
}

.design-brief.icons-sprite {
  background-position: 0 -4px;
  width: 122px;
  height: 112px !important;
}

.research.icons-sprite {
  background-position: 0px -982px;
  width: 122px;
  height: 112px !important;
}

.design-review.icons-sprite {
  background-position: 0 -118px;
  width: 122px;
  height: 112px !important;
}

.finalize-design.icons-sprite {
  background-position: 0 -232px;
  width: 122px;
  height: 112px !important;
}

.design-brief-01.icons-sprite {
  background-position: 0 -1903px;
  width: 71px !important;
  height: 84px !important;
}

.research-02.icons-sprite {
  background-position: 0 -1985px;
  width: 100px !important;
  height: 88px !important;
}

.design-review-03.icons-sprite {
  background-position: 0 -2072px;
  width: 97px !important;
  height: 85px !important;
}

.finalize-design-04.icons-sprite {
  background-position: 0 -2156px;
  width: 101px !important;
  height: 88px !important;
}

/* Blogs Page */

.artical-box .artical-content {
  background: #F8F8F8;
  padding: 40px;
}

.artical-box .artical-content p.artical-cat {
  color: #FF5B00;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  margin: 10px 0;
}

.artical-box .artical-content h4.artical-title {
  color: #4D4D4D;
  font-size: 18px;
  line-height: 24px;
}

.artical-box .artical-content p.artical-desc {
  color: #4D4D4D;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.artical-box .artical-img img {
  width: 100%;
}

.post-info .author-n p {
  font-size: 10px;
  color: #4D4D4D;
  line-height: 13px;
  margin-top: 15px;
}

.artical-content .social-links svg {
  padding-right: 5px;
  font-size: 12px;
}

/* Single Blog */

.project-section p.blog-txt {
  font-size: 16px;
  margin: 10px 0;
}

.project-section p.blog-p-h {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.faq-row .accordion-item h2 {
  line-height: 1.2;
  padding: 0;
}

.faq-row .accordion-item h2 button:focus {
  box-shadow: 0 0;
}

.faq-row .accordion-item h2 button {
  color: #FF5B00;
}

.faq-row .accordion-button:not(.collapsed) {
  background: #000000;
}

.faq-row .accordion-item h2 button {
  padding: 20px 20px;
}

.blog-banner {
  padding-top: 120px;
  padding-bottom: 50px;
}

.project-section ul li {
  font-size: 16px;
}

section.table-of-content {
  padding: 40px 0;
}

.t-contet {
  margin: 30px 0;
  background: #f9f9f9;
  padding: 20px;
  /*border: 1px solid #aaaa;*/
  box-shadow: 0 6px 10px #cccccc96;
}

.t-contet ol li {
  list-style-type: auto;
}

.t-contet ul li a {
  color: #000000;
}

.t-contet ul li {
  font-size: 18px;
  padding-left: 10px;
}

.t-contet ul li p {
  font-size: 12px;
  padding: 0px 0;
  font-weight: 300;
}

.t-contet .t-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-contet .t-head a {
  color: #000000;
}

.t-contet .t-head a i {
  font-size: 24px;
}

.t-contet .t-head h4 {
  margin: 0;
}

.t-contet .table-of-content {
  /*display: flex;*/
}

h2.blog-p-h {
  font-family: 'Spartan-Bold';
  font-size: 24px;
  color: #4d4d4d;
  line-height: 1.2;
  margin: 20px 0;
}

.inner_banner-section img.img-fluid {
  width: 800px !important;
}

ul.textbox.text-small.tc-check {
  padding: 0;
  list-style: none;
}

ul.textbox.text-small.tc-check li label {
  font-size: 12px;
}

ul.textbox.text-small.tc-check li label a {
  font-size: 12px;
  font-weight: 600;
  color: #ff5b00;
}

ul.textbox.text-small.tc-check small {
  font-size: 12px;
}

footer .dcma-ada-logo {
  padding: 20px 0;
}

footer .dcma-ada-logo img.dcma-logo {
  margin-left: 20px;
}

footer .dcma-ada-logo img.adac-logo {
  filter: brightness(1);
  width: 80px;
}

.pojo-a11y-toolbar-toggle svg path {
  color: #ffffff;
}

.footer-call-btn {
  position: fixed;
  left: 20px;
  bottom: 10px;
}

.footer-call-btn a {
  display: flex;
  align-items: center;
  gap: 12px;
  -webkit-animation: beat 2s infinite;
  animation: beat 2s infinite;
}

.footer-call-btn a span:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #4701f3;
  border-radius: 50%;
}

.footer-call-btn a span {
  color: #4701f3;
  font-family: 'Spartan-ExtraBold';
  font-size: 12px;
  text-transform: uppercase;
}

.footer-call-btn a span svg {
  font-size: 18px;
}

