.ad-label, .headline-regular {
  font-family: LabGrotesque,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
}

.headline-bold, .headline-bold.ignore-typography, .is-enhanced .typography p.drop-cap:first-letter, .typography .read-more-links li:first-child, .typography .read-more-links li:first-child strong, .typography .summary-list li:not(.ignore-typography), .typography .summary-list strong:not(.ignore-typography), .typography .summary-list:not(.ignore-typography), .typography h1 strong:not(.ignore-typography strong), .typography h2 strong:not(.ignore-typography strong), .typography h3 strong:not(.ignore-typography strong), .typography h4 strong:not(.ignore-typography strong), .typography h5 strong:not(.ignore-typography strong), .typography h6 strong:not(.ignore-typography strong), .typography.featured-tout ol li:not(.ignore-typography), h1, h2, h3, h4, h5, h6 {
  font-family: LabGrotesque,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 900;
}

.headline-bold-italic, .typography .summary-list li em:not(.ignore-typography), .typography h1 em:not(.ignore-typography em), .typography h2 em:not(.ignore-typography em), .typography h3 em:not(.ignore-typography em), .typography h4 em:not(.ignore-typography em), .typography h5 em:not(.ignore-typography em), .typography h6 em:not(.ignore-typography em), .typography.featured-tout ol em:not(.ignore-typography) {
  font-family: LabGrotesque,Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 900;
}

.body-regular, .typography .ecm .summary-list li, .typography:not(.ignore-typography) {
  font-family: TiemposTextWeb,Georgia,Times,serif;
  font-style: normal;
  font-weight: 400;
}

.body-italic, .category-tagline p, .typography .blockquote:not(.ignore-typography .blockquote), .typography em:not(.ignore-typography em) {
  font-family: TiemposTextWeb,Georgia,Times,serif;
  font-style: italic;
  font-weight: 400;
}

.body-bold, .typography strong:not(.ignore-typography strong) {
  font-family: TiemposTextWeb,Georgia,Times,serif;
  font-style: normal;
  font-weight: 600;
}

.body-bold-italic, .typography em strong:not(h2 *):not(h3 *):not(h4 *):not(h5 *):not(h6 *):not(.ignore-typography strong), .typography strong:not(h2 *):not(h3 *):not(h4 *):not(h5 *):not(h6 *):not(.ignore-typography strong) em {
  font-family: TiemposTextWeb,Georgia,Times,serif;
  font-style: italic;
  font-weight: 600;
}

